<div class="flex flex-row justify-between items-center px-12 py-6">
  <h4 class="font-bold text-2xl">Create a news article</h4>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div matDialogContent class="min-h-64">
  <form
    [formGroup]="newPostForm"
    (ngSubmit)="submitForm()"
    class="w-full px-6 flex flex-col justify-start gap-6 min-h-[80%]"
  >
    <mat-form-field>
      <mat-label>Headline</mat-label>
      <input type="text" matInput formControlName="headline" />
      @if (newPostForm.get('headline')?.hasError('required')) {
      <mat-error>Headline is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <div class="flex flex-col w-full">
      <label>Content</label>
      <quill-editor
        formControlName="content"
        [styles]="{ height: '200px' }"
        #editor
      >
      </quill-editor>

      @if (newPostForm.get('content')?.touched &&
      newPostForm.get('content')?.hasError('required')) {
      <mat-error>Content is <strong>required</strong></mat-error>
      }
    </div>

    <app-image-uploader
      [path]="'posts'"
      [maximumFilesSelection]="1"
      (uploadComplete)="onUploadComplete($event)"
    ></app-image-uploader>

    @if (imageURLs.length > 0) {
    <div class="w-full grid grid-cols-12 gap-4">
      @for (url of imageURLs; track $index) {
      <div
        class="col-span-2 h-48 border-2 border-slate-400 border-solid rounded-lg"
      >
        <app-image-viewer [imageURL]="url"></app-image-viewer>
      </div>
      }
    </div>
    }

    <button class="hidden" type="submit" #submitBtn></button>
  </form>
</div>
<div mat-dialog-actions align="end">
  <div class="flex gap-4">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-stroked-button (click)="submitBtn.click()">Create</button>
  </div>
</div>
