<div id="top">
  <header id="header" class="bg-black">
    <div class="header-logo">
      <a routerLink="">Volkspartij Leefbaar Suriname</a>
    </div>

    <nav id="header-nav-wrap">
      <ul class="header-main-nav">
        <li class="current">
          <a class="smoothscroll" href="#home" title="home">Home</a>
        </li>
        <li>
          <a class="smoothscroll" href="#about" title="about">Over VLS</a>
        </li>
        <li>
          <a class="smoothscroll" href="#vision" title="what-we-do"
            >Wat wij doen</a
          >
        </li>
      </ul>

      <a href="#download" title="sign-up" class="button button-primary cta"
        >App Downloaden</a
      >
    </nav>

    <a class="header-menu-toggle" routerLink="#"><span>Menu</span></a>
  </header>
  <!-- /header -->

  <!-- home
   ================================================== -->
  <section
    id="home"
    data-parallax="scroll"
    data-natural-width="3000"
    data-natural-height="2000"
  >
    <!-- <div
      class="h-full w-full bg-black/20 absolute top-0 left-0 right-0 bottom-0"
    ></div> -->
    <div class="home-content">
      <div class="row contents">
        <!-- <div
          class="bg-black/50 absolute top-0 left-0 bottom-0 right-0 z-0"
        ></div> -->
        <div class="home-content-left">
          <h3 data-aos="fade-up">Welkom bij VLS</h3>

          <h1 data-aos="fade-up">
            Doe met ons mee <br />
            aan het creëren van <br />
            een nieuw Suriname.
          </h1>

          <div class="buttons" data-aos="fade-up" id="cta-button">
            <a href="#download" class="smoothscroll button stroke">
              <span class="icon-circle-down" aria-hidden="true"></span>
              App Downloaden
            </a>
          </div>
        </div>

        <div class="home-image-right">
          <img src="images/iphone-vls.png" data-aos="fade-up" />
        </div>
      </div>
    </div>
    <!-- end home-content -->

    <!-- <ul class="home-social-list">
      <li>
        <a routerLink="#"><i class="fa fa-facebook-square"></i></a>
      </li>
      <li>
        <a routerLink="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a routerLink="#"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a routerLink="#"><i class="fa fa-youtube-play"></i></a>
      </li>
    </ul> -->
    <!-- end home-social-list -->

    <div class="home-scrolldown">
      <a routerLink="#about" class="scroll-icon smoothscroll">
        <span>Scroll naar beneden</span>
        <i class="icon-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </section>
  <!-- end home -->

  <!-- about
    ================================================== -->
  <section id="about">
    <div class="row about-intro">
      <div class="col-four">
        <h1 class="intro-header" data-aos="fade-up">Over VLS</h1>
      </div>
      <div class="col-eight">
        <p class="lead" data-aos="fade-up">
          Leefbaar Suriname" is een politieke beweging die wordt gedreven door
          een krachtige slogan: "Een sterke samenleving door goed leiderschap"
          en heeft als doel een nieuwe koers uit te zetten voor het welzijn en
          de welvaart van Suriname.
        </p>

        <p class="lead" data-aos="fade-up">
          Deze beweging is geworteld in de overtuiging dat een sterke
          samenleving voortkomt uit besluitvaardig leiderschap. De richtlijnen
          zijn vastgelegd in het Langetermijnplan (LTP), een strategisch
          actieplan dat de gevolgen van de huidige economische neergang en de
          groeiende impact van slecht bestuur aanpakt.
        </p>
      </div>
    </div>

    <!-- <div class="row about-features">
      <div class="features-list block-1-3 block-m-1-2 block-mob-full group">
        <div class="bgrid feature" data-aos="fade-up">
          <span class="icon"><i class="icon-window"></i></span>

          <div class="service-content">
            <h3>Fully Resposive</h3>

            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>

        <div class="bgrid feature" data-aos="fade-up">
          <span class="icon"><i class="icon-image"></i></span>

          <div class="service-content">
            <h3>Retina Ready</h3>

            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>

        <div class="bgrid feature" data-aos="fade-up">
          <span class="icon"><i class="icon-paint-brush"></i></span>

          <div class="service-content">
            <h3>Stylish Design</h3>

            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>

        <div class="bgrid feature" data-aos="fade-up">
          <span class="icon"><i class="icon-file"></i></span>

          <div class="service-content">
            <h3>Clean Code</h3>

            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>

        <div class="bgrid feature" data-aos="fade-up">
          <span class="icon"><i class="icon-sliders"></i></span>

          <div class="service-content">
            <h3>Easy To Customize</h3>

            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>

        <div class="bgrid feature" data-aos="fade-up">
          <span class="icon"><i class="icon-gift"></i></span>

          <div class="service-content">
            <h3>Free of Charge</h3>

            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit.
            </p>
          </div>
        </div>
      </div>
    </div> -->
    <!-- end about-features -->

    <div class="row about-how" id="vision">
      <h1 class="intro-header" data-aos="fade-up">Wat wij doen</h1>

      <div class="about-how-content" data-aos="fade-up">
        <div class="about-how-steps block-1-2 block-tab-full group">
          <div class="bgrid step" data-item="1">
            <h3>Onze Missie</h3>
            <p>
              Leefbaar Suriname zet zich in om een ​​politieke beweging te
              bevorderen die geworteld is in integriteit, transparantie en
              daadkracht. Onze missie is duidelijk: "Om de herdefiniëring van
              het politieke landschap van Suriname te leiden, de cyclus van
              bedrog en onvervulde beloften te beëindigen en het publieke
              vertrouwen in de politiek te herstellen.
            </p>
          </div>

          <div class="bgrid step" data-item="2">
            <h3>Onze Visie</h3>
            <p>
              De visie van Leefbaar Suriname is gebaseerd op het geloof dat
              politiek leiderschap positieve verandering en welvaart kan
              aanjagen. Het voorziet in een toekomst waarin Surinaamse burgers
              hun politieke vertegenwoordigers vertrouwen en waarin de belangen
              van het volk voorop staan.
            </p>
          </div>

          <div class="bgrid step" data-item="3">
            <h3>Ideologie</h3>
            <p>
              Leefbaar Suriname zet zich in voor een politieke ideologie
              gebaseerd op integriteit, transparantie en burgerparticipatie. Het
              streeft naar een rechtvaardige samenleving vrij van
              geïnstitutionaliseerde hebzucht en nepotisme, waar de overheid
              prioriteit geeft aan het welzijn en de welvaart van haar
              bevolking.
            </p>
          </div>

          <div class="bgrid step" data-item="4">
            <h3>Onze inzet</h3>
            <p>
              Leefbaar Suriname zet zich in om haar eigen koers uit te
              stippelen, verantwoordelijkheid te nemen voor structurele
              ontwikkeling en tegelijkertijd te benadrukken dat nationale
              ontwikkeling een gedeelde verantwoordelijkheid is. Geleid door het
              Langetermijnplan biedt het een concrete visie voor een betere
              toekomst, waarbij partnerschappen met internationale organisaties
              en buitenlandse bondgenoten worden omarmd om opkomende vooruitgang
              te ondersteunen.
            </p>
          </div>
        </div>
      </div>
      <!-- end about-how-content -->
    </div>
    <!-- end about-how -->

    <!-- <div class="row about-bottom-image">
      <img
        src="images/app-screens-1200.png"
        srcset="
          images/app-screens-600.png   600w,
          images/app-screens-1200.png 1200w,
          images/app-screens-2800.png 2800w
        "
        sizes="(max-width: 2800px) 100vw, 2800px"
        alt="App Screenshots"
        data-aos="fade-up"
      />
    </div> -->
    <!-- end about-bottom-image -->
  </section>
  <!-- end about -->

  <!-- download
    ================================================== -->
  <section id="download">
    <div class="row">
      <div class="col-full">
        <h1 class="intro-header" data-aos="fade-up">
          Download vandaag nog onze app!
        </h1>

        <p class="lead" data-aos="fade-up">
          Sluit je aan bij de beweging voor een beter Suriname, sluit je vandaag
          nog aan bij onze community door onze app hieronder te downloaden
        </p>

        <ul class="download-badges">
          <li>
            <a
              (click)="showAppStoreDialog()"
              class="badge-appstore"
              data-aos="fade-up"
              >App Store</a
            >
          </li>
          <li>
            <a
              (click)="showPlayStoreDialog()"
              title=""
              class="badge-googleplay"
              data-aos="fade-up"
              >Play Store</a
            >
          </li>
          <li>
            <a
              href="downloads/vls_app.apk"
              target="_blank"
              title=""
              class="badge-direct-download"
              data-aos="fade-up"
              >Download now</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- end download -->

  <!-- footer
    ================================================== -->
  <footer class="bg-black flex flex-col justify-start p-24">
    <div class="footer-main">
      <div class="grid grid-cols-12 gap-4">
        <span class="col-span-12">
          <h4>Contact</h4>
        </span>

        <span class="col-span-12 md:col-span-3">
          <p>
            Oost West Verbinding 87<br />
            Meerzorg Suriname<br />
          </p>
        </span>

        <span class="col-span-12 md:col-span-3">
          <p>
            volkspartijleefbaarsuriname&#64;hotmail.com <br />
            Phone: (+597) 840‑0777 <br />
          </p>
        </span>
      </div>
    </div>
    <!-- end footer-main -->

    <div class="footer-bottom">
      <div class="row">
        <div class="col-twelve">
          <div class="copyright">
            <span>© Copyright Volkspartij Leefbaar Suriname 2025.</span>
          </div>

          <div id="go-top">
            <a class="smoothscroll" title="Back to Top" routerLink="#top"
              ><i class="icon-arrow-up"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- end footer-bottom -->
    </div>
  </footer>
</div>
